!.package-lock.json
!.env.example
!.gitignore
!.htaccess
!.prettierignore
!.prettierrc.json
!Dockerfile
!README.md
!composer.json
!composer.lock
!docker-compose.yml
!webpack.config.js
/node_modules
/vendor
/.env
/storage/*.key
/storage/debugbar/*
/storage/framework/cache/data/*
/storage/logs/*
/storage/oauth-private.key
/storage/oauth-public.key
/public/storage